html, body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: 400 16px/1.5 sans-serif;
    background: #2d3036;
    color: #f1f4f6;
    overflow-x: hidden;
    overflow-y: scroll;

    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Button */

.btn {
    display: inline-block;
    border: 0;
    border-radius: 3px;
    padding: 0 24px;
    background: #409bec;
    color: #f1f4f6;
    line-height: 48px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    opacity: .8;
    transform: translateY(0);

    pointer-events: all;
}

.btn:focus {
    outline: none;
}

.btn:hover, .btn:focus {
    opacity: 1;
}

.btn:active {
    transform: translateY(1px);
}

/* Header */

.header {
    display: block;
    flex: auto;
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
    transform-style: preserve-3d;
    transform: translateZ(0);

    user-select: none;
    pointer-events: none;
}

.header-title .item {
    display: block;
    margin: 0 auto;
}

/* Javascript support */

.no-script, .no-script-text {
    display: block;
    margin: 0 auto 12px;
}

.no-script {
    text-align: center;
    max-width: 300px;
}

.no-script .btn {
    min-width: 150px;
}

.no-script-text {
    font-size: .875em;
    margin-bottom: 24px;
}

/* Parallax */

.parallax {
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
    padding: 32px;
    height: 100vh;
    justify-content: center;
    background: #212429;
    opacity: 1;

    transform: translate3d(0,0,0);
}

/* Fixes */

@-ms-viewport{
    width: device-width;
}
