.author {
    display: flex;
}

.author-avatar {
    display: inline-block;
    flex: 0 0 48px;
    margin-left: 5px;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    box-shadow: rgba(255,255,255,.05) 0 0 0 5px;
    overflow: hidden;
}

.author-avatar, .author-avatar .image {
    width: 48px;
    height: 48px;
}

.author-wrapper {
    padding-left: 12px;
    transform: translateZ(0);
}

.author-name {
    display: inline-block;
    position: relative;
    color: #f1f4f6;
    text-decoration: none;
    overflow: hidden;
}

.author-name:hover, .author-name:focus {
    outline: none;
}

.author-name::after {
    display: block;
    position: absolute;
    content: " ";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,.2);
    transform: translate(-100%, 0);
    transition: 120ms;
}

.author-name:hover::after, .author-name:focus::after {
    transform: translate(0, 0);
}

.author-role, .author-publish {
    display: block;
    font-size: .75em;
    opacity: .4;
}

.author-social {
    display: none;
    flex: auto;
    text-align: right;
}

@media screen and (min-width: 380px) {
    .author-social {
        display: block;
    }
}
